/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: blue;
	--color-secondary: gray;
	--color-success: green;
	--color-danger: red;
	--color-warning: yellow;
	--color-info: turquoiese;
	--color-light: white;
	--colort-dark: black;
}
