/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: theme('colors.gray.800');
	--text-color: theme('colors.gray.200');
}

@layer components {
	.theme-light {
		--background-color: theme('colors.gray.200');
		--text-color: theme('colors.gray.800');
	}
	.theme-dark {
		--background-color: theme('colors.gray.800');
		--text-color: theme('colors.gray.200');
	}
}
